.element {
  height: 432px;
  width: 432px;
  background-image: url(https://unsplash.com/photos/SYTO3xs06fU/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Mjl8fHRlY2glMjBpbmZvJTIwZ3JhcGhpY3xlbnwwfHx8fDE2ODQyNjUzMjd8MA&force=true&w=640);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  background-clip: padding-box;
}
