<div class="container">
  <div class="two cols container">
    <div class="col flex justify-center align-center">
      <form class="ui form border">
        <h2 class="ui header center margin-bottom">
          Fill in your details to join our exiciting team.
        </h2>

        <div class="field">
          <label>Surname / Family Name</label>
          <input
            type="text"
            name="first-name"
            placeholder="Surname / Family Name"
          />
        </div>

        <div class="field">
          <label>Other Name(s)</label>
          <input type="text" name="last-name" placeholder="Other Name(s)" />
        </div>

        <div class="field">
          <label>University / Institution</label>
          <input
            type="text"
            name="university"
            placeholder="University / Institution"
          />
        </div>

        <div class="field">
          <label>Field of Study</label>
          <input type="text" name="last-name" placeholder="Field of Study" />
        </div>

        <div class="field">
          <label>Field of Internship</label>
          <input
            type="text"
            name="last-name"
            placeholder="Field of Internship"
          />
        </div>

        <div class="field">
          <label>Inspiration for Joining Tech and Internship Goals</label>
          <textarea
            name="inspiration"
            rows="3"
            placeholder="Describe your inspiration for joining tech and what you wish to accomplish from the internship"
          ></textarea>
        </div>

        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden" />
            <label>I agree to the Terms and Conditions</label>
          </div>
        </div>

        <button class="ui button" type="submit">Submit</button>
      </form>
    </div>

    <div class="col flex align-center justify-center">
      <!-- <img
        class="ui big circular image"
        src="https://unsplash.com/photos/CjS3QsRuxnE/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Mjh8fGNvbG9yJTIwb24lMjB3aGl0ZSUyMGJhY2tncm91bmR8ZW58MHx8fHwxNjg0MjYzODQ2fDA&force=true&w=640"
      /> -->

      <div class="element"></div>
    </div>
  </div>

  <!-- <div class="ui ordered steps">
    <div class="completed step">
      <div class="content">
        <div class="title">Register to Join</div>
        <div class="description">Choose your shipping options</div>
      </div>
    </div>
    <div class="completed step">
      <div class="content">
        <div class="title">Role Confirmation</div>
        <div class="description">Enter billing information</div>
      </div>
    </div>
    <div class="active step">
      <div class="content">
        <div class="title">Your Inspirations</div>
        <div class="description">Verify order details</div>
      </div>
    </div>
  </div>
</div> -->
</div>
