<!-- <div class="container">
  <div class="ui segment">
    <h1 class="stylish-heading">Our Portfolio of Applications and Projects</h1>
    <div class="ui divider"></div>

    <div class="three cols">
      <div class="col">
        <div class="ui card">
          <div class="image">
            <img
              src="https://unsplash.com/photos/-YHSwy6uqvk/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MzR8fGhhbmQlMjBkcmF3biUyMGZvb2QlMjBncmFwaGljc3xlbnwwfHx8fDE2ODQyNjc5NDd8MA&force=true&w=640"
              alt="Food Delivery App"
            />
          </div>
          <div class="content">
            <div class="header">Food Delivery App</div>
            <div class="meta">
              <a>Friends</a>
            </div>
            <div class="description">
              Imagine a world where delicious meals from your favourite
              restaurants are just a tap away. Our revolutionary food delivery
              app brings convenience and culinary delights right to your
              doorstep.
            </div>
          </div>
          <div class="extra content">
            <span class="right floated"> Started in 2023 </span>
            <span>
              <i class="android large red icon"></i>
              <i class="apple large green icon"></i>
              <i class="chrome large blue icon"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="ui card">
          <div class="image">
            <img
              src="https://unsplash.com/photos/EoxzfNEdxOw/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTd8fGZ1ZWx8ZW58MHx8fHwxNjg0MjUzMDg0fDA&force=true&w=640 "
              alt="Mobile Fuel Electronic Payment System"
            />
          </div>
          <div class="content">
            <h3 class="header">Mobile Fuel Electronic Payment System</h3>
            <p>
              Say goodbye to the hassle of cash payments at fuel stations. Our
              innovative mobile fuel electronic payment system revolutionizes
              the way we refuel our vehicles.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="ui card">
          <div class="image">
            <img
              src="https://unsplash.com/photos/OyCl7Y4y0Bk/download?force=true&w=640"
              alt="Online School"
            />
          </div>
          <div class="content">
            <h3 class="header">Online School</h3>
            <p>
              Education knows no boundaries with our groundbreaking online
              school. We have reimagined traditional classrooms, creating a
              virtual space where knowledge knows no limits.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="ui card">
          <div class="image">
            <img
              src="https://unsplash.com/photos/gFGL-k454ds/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTR8fG1ldXNldW18ZW58MHx8fHwxNjg0MjY4MTk4fDA&force=true&w=640"
              alt="Virtual Museum"
            />
          </div>
          <div class="content">
            <h3 class="header">Virtual Museum</h3>
            <p>
              Step into a realm where art, history, and culture converge in a
              mesmerizing virtual experience. Our virtual museum transcends
              physical boundaries, offering a rich tapestry of exhibits that can
              be explored from anywhere in the world.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-placeholder></app-placeholder>
