<div class="ui container">
  <h1 class="stylish-heading">Executive Summary</h1>
  <h2>Overview of the Company</h2>

  <p>
    In the fast-paced realm of software development, brilliance and curiosity
    are the driving forces that propel innovation. At CODEPLAY, we embrace these
    qualities and go beyond mere technical expertise to cultivate a culture of
    continuous learning and exploration. We believe that true brilliance is not
    confined to a select few but can be found in the hearts and minds of those
    who dare to dream and create. CODEPLAY is a software development company
    based in Kampala Uganda.
  </p>

  <img
    class="ui bordered fluid image"
    src="assets/images/banners/about-us2.jpg"
  />

  <!-- <h2>Training And Talent Development</h2> -->
  <h2 class="ui header">
    <i class="flag outline icon"></i>
    <div class="content border bottom">Training And Talent Development</div>
  </h2>

  <p class="margin-top">
    At CODEPLAY, we embody the spirit of leadership and guidance, drawing
    inspiration from great leaders throughout history who have forged their path
    to success. Just as Alexander the Great once said, "I am not afraid of an
    army of lions led by a sheep; I am afraid of an army of sheep led by a
    lion." We believe in nurturing the brilliance within our talented
    individuals and guiding them to become the lions of the tech industry.
  </p>

  <p>
    As a Community Interest Company, we understand the power and responsibility
    that comes with our position. We harness our assets and profits to enrich
    the human resource capital of society, with a particular focus on the fields
    of technology. Our project aims to provide a transformative platform for the
    youth in Uganda, empowering them to enhance their development skills and
    showcase their talents to both local and international employers.
  </p>

  <p>
    Our training programs go beyond mere technical knowledge. We believe in
    empowering our participants to use their talent as a force for change, to
    find solutions to real-life problems unique to their communities. We strive
    to instill in our trainees the values of critical thinking, problem-solving,
    and innovation, enabling them to live well and contribute meaningfully to
    their society.
  </p>

  <p>
    At CODEPLAY, we are driven by the conviction that leadership, guidance, and
    the cultivation of talent can ignite a powerful ripple effect in society. As
    we embark on this transformative journey with the youth of Uganda, we echo
    the words of Alexander the Great, "I am not afraid of an army of lions led
    by a sheep." We are committed to developing a generation of lions in the
    tech industry, poised to make their mark and leave a lasting legacy.
  </p>

  <h2 class="ui header margin-top">
    <!-- <i class="flag outline icon"></i> -->
    <div class="content border bottom">Mission Statement</div>
  </h2>

  <p class="margin-top">
    Transforming Brilliant Ideas into Real-World Tech Solutions: Our mission is
    to bridge the gap between innovative ideas and tangible tech products that
    make a difference in people's lives. We provide a platform for brilliant
    talent to gain hands-on experience, showcase their expertise while driving
    the transformation of visionary ideas into impactful realities.
  </p>

  <h2 class="ui header margin-top">
    <!-- <i class="lightbulb icon"></i> -->
    <div class="content border bottom">Unique Value Proposition</div>
  </h2>

  <p class="margin-top">
    In the realm of technology, where the forces of curiosity and innovation
    converge, CODEPLAY emerges as a beacon of transformation. Our value
    proposition transcends boundaries and connects curious tech enthusiasts
    seeking valuable experiences with businesses hungry for brilliant talent
    armed with innovative solutions. We are here to confront the challenges
    faced by aspiring individuals, caused by limited knowledge attainment within
    traditional education systems and the scarcity of opportunities resulting
    from low investments in the tech sector.
  </p>

  <h2 class="ui header margin-top">
    <div class="content border bottom">Founders and Key Team Members</div>
  </h2>

  <p class="margin-top">
    CODEPLAY has been founded by a group of visionary individuals who are
    passionate about pushing the boundaries of technology. Our key team members
    bring a wealth of experience and expertise in software development, project
    management, design, and entrepreneurship. Together, we form a talented and
    dedicated team committed to delivering exceptional results.
  </p>
</div>
<!-- <app-placeholder></app-placeholder> -->
