<div class="container">
  <section class="ideaboard">
    <div class="infographic">
      <img
        data-animate="down-slow"
        src="assets/images/slider/hero-image4.png"
        alt="CodePlay Idea Development"
      />
    </div>

    <div class="info" data-animate="up-slow">
      <span
        ><i class="huge red angular icon"></i>
        <i class="huge green vuejs icon"></i>
        <i class="huge blue react icon"></i>
      </span>

      <p class="paragraph margin-top border bottom">
        Let us help you bring your ideas to life and take your business to the
        next level.
      </p>

      <h3 class="stylish-heading margin-top">Transforming Your Ideas</h3>
      <h3 class="stylish-heading">Into Reality...</h3>

      <div class="ui labeled button margin-top" tabindex="0">
        <div class="ui red button">
          <i class="credit card outline icon"></i> Hire Us
        </div>
        <a class="ui basic red left pointing label"> 104 Projects</a>
      </div>
    </div>
  </section>

  <div class="ui container">
    <h2>ABOUT CODEPLAY</h2>

    <p>
      CODEPLAY is proud to offer a unique value proposition that sets us apart
      in the tech industry — access to the most brilliant African creative
      talent. We believe that Africa is a treasure trove of untapped potential,
      filled with diverse perspectives and a rich cultural heritage that can
      truly revolutionize the global tech landscape.
    </p>

    <p>
      By providing a platform for these talented individuals, we not only
      empower them to showcase their skills but also offer a gateway for
      international organizations to tap into this exceptional talent pool. Our
      mission is to bridge the gap between African creativity and the global
      tech industry, unlocking opportunities for collaboration, innovation, and
      growth.
    </p>
  </div>
</div>
