<div class="mobile-logo">
  <img class="ui image" src="assets/logo/logo-asset.png" />

  <i class="laptop icon"></i>
</div>

<div class="nav ui small menu">
  <div class="item logo">
    <img src="assets/logo/logo-asset.png" alt="Company Logo" />

    <!-- <div class="title">CODEPLAY</div> -->
  </div>
  <a class="item" routerLinkActive="active" routerLink="home"
    ><i class="laptop icon"></i> Home</a
  >
  <a class="item" routerLinkActive="active" routerLink="services"
    ><i class="cubes icon"></i> Services</a
  >
  <a class="item" routerLinkActive="active" routerLink="about-us"
    ><i class="address card outline icon"></i> About Us</a
  >
  <a class="item teams" routerLinkActive="active" routerLink="our-team"
    ><i class="users icon"></i> Our Teams</a
  >
  <a class="item" routerLink="join-us" routerLinkActive="active"
    ><i class="envelope outline icon"></i> Join Us</a
  >
  <a class="item" routerLinkActive="active" routerLink="hire-us"
    ><i class="credit card outline icon"></i> Hire Us</a
  >

  <div class="right menu language">
    <div class="ui dropdown item">
      Language <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">Ho</a>
        <a class="item" href="#">Services</a>
        <a class="item" href="#">About Us</a>
        <a class="item" href="#">Team</a>
        <a class="item">Join Us</a>
        <a class="item" href="#">Hire Us</a>
      </div>
    </div>
    <div class="item">
      <div class="ui animated fade red button" tabindex="0">
        <div class="visible content">Sign In</div>
        <div class="hidden content">Get In</div>
      </div>
    </div>
  </div>
</div>
